.header {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../assets/night_sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroDiv {
  padding: 0 20px;
  max-width: 768px;
}

.heroName {
  color: var(--main-pink);
  padding: 20px 30px;
  border: 1px solid var(--main-pink);
  letter-spacing: 10px;
}

.heroDiv > h2 {
  text-align: center;
  margin: 30px 0;
}

.heroDiv > p {
  text-align: center;
  color: #bbb;
  margin-bottom: 30px;
}

.headerSocialsDiv {
  gap: 20px;
}

.headerSocialsDiv > a > span {
  font-size: 25px;
}
