.header {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../assets/night_sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headerContentsWrapper {
  width: 100%;
  padding: 0 20px;
  gap: 10px;
}

.avatarContainer {
  width: 20em;
  aspect-ratio: 1;
  border-radius: 20px;
  opacity: 0.6;
  display: none;
  position: relative;
}

.avatarDiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid var(--main-pink);
  transform: rotate(-10deg);
  border-radius: 20px;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.dotsImg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, -50%);
  width: 50%;
}

.heroDiv {
  padding: 0 20px;
  max-width: 768px;
}

.heroName {
  color: var(--main-pink);
  padding: 20px 30px;
  border: 1px solid var(--main-pink);
  letter-spacing: 10px;
}

.heroDiv > h2 {
  text-align: center;
  margin: 30px 0;
}

.heroDiv > p {
  text-align: center;
  color: #bbb;
  margin-bottom: 30px;
}

.headerSocialsDiv {
  gap: 20px;
}

.headerSocialsDiv > a > span {
  font-size: 25px;
}

@media screen and (min-width: 800px) {
  .avatarContainer {
    display: block;
  }
}
