@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-pink: rgb(211, 65, 82);
  --text-color: white;
  --text-color-secondary: #999;
  --secondary-black: rgb(26, 26, 26);
  --primary-black: rgb(0, 0, 0);
}

.bg-primary {
  background-color: var(--primary-black);
}

.bg-secondary {
  background-color: var(--secondary-black);
}

.text-secondary {
  color: var(--text-color-secondary);
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 25px;
}

a {
  outline: none;
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

a:hover {
  color: var(--main-pink);
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
}

section {
  padding: 100px 20px;
  overflow: hidden;
}
