:root {
  --side: 200px;
  --scroll-speed: 50s;
}

.carouselWrapper {
  width: 100%;
  min-height: 75px;
  position: relative;
}

.carouselDiv {
  position: absolute;
  top: 0;
}

.carouselDiv1 {
  animation: carousel1 var(--scroll-speed) linear infinite;
  left: 0;
}
.carouselDiv2 {
  animation: carousel2 var(--scroll-speed) linear infinite;
  left: calc(var(--side) * 11);
}

@keyframes carousel1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(calc((-1 * var(--side) * 11)));
  }
}

@keyframes carousel2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(calc((-1 * var(--side) * 11)));
  }
}

.svgImageDiv {
  width: var(--side);
}
